@tailwind base;
   @tailwind components;
   @tailwind utilities;

   body {
     margin: 0;
     padding: 0;
     font-family: 'Nunito', sans-serif;
   }

   .no-scrollbar::-webkit-scrollbar {
     display: none;
   }

   .no-scrollbar {
     -ms-overflow-style: none;
     scrollbar-width: none;
   }
